body {
  background-color: #567;
  color: white;
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: lowercase;
  transition: 0.5s;
}

a {
  color: #fc822a;
  text-decoration: none;
}

a:visited {
  color: #fc822a;
  text-decoration: none;
}

#header {
  text-align: center;
}

#header img {
  max-width: 90%;
}

.headerImgLight {
  display: none;
}

#tagLine {
  letter-spacing: 0.25rem;
}

#tagLine a {
  text-decoration: none;
  color: #fc822a;
}

.dark-mode {
  background-color: white;
  color: #567;
  transition: 0.5s;
}

#darkModeBtn {
  border-radius: 2rem;
  line-height: 0.4rem;
  background-color: inherit;
  outline: none;
  cursor: pointer;
  padding: 1em;
  transition: 0.3s;
  border: solid #fc822a 1px;
  color: #fc822a;
}

#darkModeBtn p {
  margin: 0rem;
}

#sun {
  display: none;
}

.parentColumn {
text-align: center;
display: flex;
align-items: stretch;
justify-content: space-evenly;
}

.childColumn {
  display: inline-block;
  width: 50%;
}

#commission {
  padding: 1rem;
  max-width: 100%;
}

#aboutMe {
  letter-spacing: 0.25rem;
  display: inline-block;
}

#aboutMeGreeting {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2rem;
}

.aboutMeHr {
  width: 75%;
}

#followMeHere {
  font-weight: 800;
  font-size: 2rem;
}

.socials {
  display: inline-block;
  flex-direction: column;
  width: 100%;
}

.socialsBtn {
  margin: 1rem;
  padding: 1rem;
  width: 50%;
  border-radius: 0.5rem;
  border: none;
  justify-content: center;
}

.socialLinks {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: #fff;
}

.socialLinks:visited {
  color: #fff;
}

.socialLinksLight {
  color: #567;
}

.socialLinksLight:visited {
  color: #567;
}

#twt {
  background-color: #fc822a;
  color: #fff;
}

#lbx {
  background-color: #29df65;
  color: #fff;
}

#discord {
  background-color: #48bbf0;
  color: #fff;
}

/* phone/mobile adjustment for the two columns */
@media only screen and (max-width: 768px) {
  .parentColumn {
    text-align: center;
    display: block;
  }

  .childColumn {
  display: inline-block;
  width: 100%;
}

  #commission {
    max-width: 50%;
  }
}